
@font-face {
    font-family: "THSarabunNew";
    font-style: normal;
    font-weight: normal;
    src: url("/public/fonts/THSarabunIT๙.ttf") format("truetype");
}

@font-face {
    font-family: "THSarabunNew";
    font-style: normal;
    font-weight: bold;
    src: url("/public/fonts/THSarabunIT๙ Bold.ttf") format("truetype");
}

@font-face {
    font-family: "THSarabunNew";
    font-style: italic;
    font-weight: normal;
    src: url("/public/fonts/THSarabunIT๙ Italic.ttf") format("truetype");
}

@font-face {
    font-family: "THSarabunNew";
    font-style: italic;
    font-weight: bold;
    src: url("/public/fonts/THSarabunIT๙ BoldItalic.ttf") format("truetype");
}

.paper-container {
    font-family: "THSarabunNew";
    font-size: 16pt;
    margin: 0;
    padding: 0;
}

.memo-wrapper {
    margin: 1.5cm 2cm 1.5cm 2.8cm; /* top right bottom left */
    /* border: 1px solid red; */
}

.memo-top {
    position: relative;
    text-align: center;
    height: 1.3cm;
    display: flex;
    justify-content: center;
    align-items: end;
}

.memo-top .memo-logo {
    position: absolute;
    top: 0;
    left: 10px;
    width: 1.5cm;
    height: 1.5cm;
    object-fit: contain;
    object-position: center;
}

.memo-notice {
    position: relative;
    display: flex;
    justify-content: center;
}

.memo-notice .memo-logo-notice {
    position: relative;
    width: 3.5cm;
    object-fit: contain;
    object-position: center;
}

.memo-top .memo-logo img {
    width: 100%;
}

.memo-top h1 {
    font-size: 22pt;
    font-weight: bold;
    line-height: 1.75rem;
}

.memo-box {
    margin-left: 10px;
}


.memo-box .memo-header {
    margin-top: 0.5pt;
    /* border: 1px solid black; */

}

.memo-box .memo-header .memo-header-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    margin-top: 0.5pt;
}

.memo-box .memo-header .memo-header-text > div,
.memo-box .memo-header .memo-header-text > div > div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.memo-box .memo-header .memo-header-text:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    height: auto;
    /* border: 1px dotted red; */
}

.memo-box .memo-header .memo-header-text:nth-child(3) > div {
    width: 96%;
    align-items: start;
}

.memo-box .memo-header .memo-header-text .memo-header-value {
    width: 100%;
    height: 18px;
    border-bottom: 1px dotted #3B3B3B;
    padding: 0;
}

.memo-box .memo-header .memo-header-text:nth-child(2) > div:first-child {
    width: 48%;
}

.memo-box .memo-header .memo-header-text:nth-child(2) > div:last-child {
    width: 52%;
}

.memo-box .memo-header h3 {
    margin: 0;
    padding: 0;
    font-size: 18pt;
    font-weight: bold;
    display: block;
    width: auto;
    text-wrap: nowrap;
}

.memo-box .memo-header span {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 16px;
    word-wrap: break-word;
    width: 100%;
}

.memo-box .memo-header div:last-child h3,
.memo-box .memo-header span {
    font-size: 16pt;
    font-weight: 200;
}

.memo-box .memo-header .memo-header-text:nth-child(3) span {
    margin-bottom: 10px;
}

.memo-box .memo-content {
    margin-top: 0.5pt;
}

.memo-box .memo-content .memo-paragraph {
    width: 100%;
    margin: 8pt 0 0;
    padding: 0;
    text-indent: 2.5cm;
    line-height: 1.5rem;
    text-align: justify;
}

.memo-approvement {
    display: flex;
    flex-direction: column;
}

.memo-approvement .memo-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    line-height: 1.25rem;
}

.memo-approvement .signature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1pt;
    line-height: 1.5rem;
}

.memo-approvement .signature .signature-date {
    display: flex;
    flex-direction: row;
}

.form-wrapper {
    margin: 1cm 1.5cm 1.5cm 1.5cm; /* top right bottom left */
    /* border: 1px solid black; */
}

.form-wrapper.form-contract {
    font-size: 12pt;
}

.form-wrapper.form-bill {
    margin-top: 2cm;
    font-size: 16pt;
}

.form-top {
    position: relative;
    text-align: center;
    height: 1cm;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.form-box {
    margin-left: 10px;
    margin-right: 5px;
}

.form-box .form-header {
    margin-top: 0.5pt;
    /* border: 1px solid black; */

}

.form-box .form-header .memo-header-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    margin-top: 0.5pt;
}

.form-box .form-header .memo-header-text > div,
.form-box .form-header .memo-header-text > div > div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.form-box .form-header h3,
.form-box .form-header h4,
.form-box .form-header h5 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    width: auto;
    text-wrap: nowrap;
}

.form-box .form-header span {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 16px;
    word-wrap: break-word;
    width: 100%;
}

.form-box .form-header div:last-child h3,
.form-box .form-header span {
    font-weight: 200;
}

.form-box .form-header .memo-header-text .memo-header-value {
    width: 80%;
    height: 18px;
    border-bottom: 1px dotted #3B3B3B;
    padding: 0;
}

.form-box .form-header .memo-header-text:first-child > .memo-header-value {
    width: 70%;
}

.form-box .form-header .memo-header-text:nth-child(3) > .memo-header-value {
    width: 70.5%;
}

.form-box .form-header .memo-header-text:nth-child(2) > div:first-child {
    width: 40%;
}

.form-box .form-header .memo-header-text:nth-child(2) > div:last-child {
    width: 34%;
}

.form-box .memo-content .memo-paragraph {
    width: 100%;
    margin: 4pt 0 0;
    padding: 0;
    text-indent: 1cm;
    line-height: 1.5rem;
    text-align: justify;
}

/*
*---------------------------------------------------------------------------
* ขยาย/บีบข้อมูลในแต่ละแถวของบันทึกข้อความ
*---------------------------------------------------------------------------
*/
.with-expanded {
    text-align: justify;
}

.with-expanded-2x {
    letter-spacing: 0.2px;
}

.with-expanded-3x {
    letter-spacing: 0.3px;
}

.with-compressed {
    letter-spacing: 0.001mm;
}

.with-compressed-2x {
    letter-spacing: -0.2px;
}

.with-compressed-3x {
    letter-spacing: -0.3px;
}

.with-compressed-4x {
    letter-spacing: -0.4px;
}

.with-compressed-5x {
    letter-spacing: -0.5px;
}
